.res-card {
    height: 300px;
}

.res-image {
    width: 65%;
}

.res-wrapper {
    width: 75%;
}

.res-text {
    font-size: 1.4rem;
}

.res-link {
    font-size: 1.4rem;
}

.res-link:hover {
    text-decoration: underline;
    color: white;
}

@media only screen and (max-width: 800px)   {
    .res-card {
        height: auto;
    }
    .res-image {
        width: 100%;
    }
    .res-link {
        font-size: 1.2rem;
    }
    .res-text {
        font-size: 1rem;
    }
    .res-wrapper {
        width: 100%;
    }
}